        <ul id="navi" style="list-style:none;">
          <li><a>ホーム</a></li>
          <li><a>話題を検索</a></li>
          <li><a>通知</a></li>
          <li><a>メッセージ</a></li>
          <li><a>ブックマーク</a></li>
          <li><a>リスク</a></li>
          <li><a>プロフィール</a></li>
          <li><a>もっと見る</a></li>
          <li><a href="#">ツイートする</a></li>
        </ul>